* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Spartan";
  src: url(Spartan-Bold.ttf);
}
:root {
  --spacing: 32px;
}

@media (min-width: 700px) and (max-width: 999.5px) {
  :root {
    --spacing: 58px;
  }
}
@media (min-width: 1000px) {
  :root {
    --spacing: 190px;
  }
}
body {
  margin: 0;
  background-color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: #60636d;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5rem; /* 24px */
}

h1,
h2 {
  color: #1b1d23;
}

.header {
  padding: var(--spacing);
  background-color: #ffffff;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 32px;
}
.header__open-menu-btn {
  cursor: pointer;
  padding: 0;
  border: none;
}
.header__hamburger-icon, .header__logo {
  vertical-align: middle;
}

@media (max-width: 699.5px) {
  .header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__nav {
    display: none;
  }
}
@media (min-width: 700px) {
  .header {
    padding: 56px 98px;
  }
  .header__content {
    justify-content: flex-start;
  }
  .header__logo {
    height: 40px;
  }
  .header__open-menu-btn {
    display: none;
  }
  .header__nav {
    display: flex;
    gap: 56px;
  }
  .header__link {
    text-decoration: none;
    font-weight: 700;
    color: #7d828f;
    line-height: 1.5625rem; /* 25px */
    display: inline-block;
    margin-top: 3px;
  }
  .header__link:hover {
    color: #1b1d23;
  }
}
@media (min-width: 700px) and (max-width: 999.5px) {
  .header__content {
    column-gap: 78px;
  }
}
@media (min-width: 1000px) {
  .header__content {
    column-gap: 94px;
  }
  .header__content {
    max-width: 1100px;
    margin: 0 auto;
  }
}
.footer {
  background-color: #eeeff4;
  padding: 0 var(--spacing) 48px;
  text-align: center;
}
.footer__logo-container {
  background-color: #1b1d23;
  display: flex;
  height: 120px;
  width: 120px;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  width: 58px;
}
.footer__nav {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.footer__nav-link {
  text-decoration: none;
  font-weight: 700;
  line-height: 1.5625rem; /* 25px */
  color: #7d828f;
}
.footer__nav-link:hover {
  color: #1b1d23;
}

@media (max-width: 699.5px) {
  .footer__logo-container {
    margin: 0 auto -60px;
    position: relative;
    top: -60px;
  }
}
@media (min-width: 700px) {
  .footer {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
  .footer__nav {
    flex-direction: row;
    margin: 3px 3px 0 0;
    column-gap: 56px;
  }
}
@media (min-width: 700px) and (max-width: 999.5px) {
  .footer {
    background-image: linear-gradient(to right, #eeeff4 80%, #ffffff 80%);
  }
}
@media (min-width: 1200px) {
  .footer {
    margin: 0 98px;
    justify-content: flex-start;
    column-gap: 85px;
    background-image: linear-gradient(to right, #eeeff4 88%, #ffffff 88%);
  }
  .footer .btn-link {
    margin-left: auto;
  }
  .footer__logo-container {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1306px) {
  .footer {
    max-width: 1110px;
    margin: 0 auto;
  }
}
.mobile-nav {
  background-color: #eeeff4;
  position: fixed;
  top: 96px;
  right: 0;
  width: calc(100% - var(--spacing));
  padding: 39px 48px 42px;
  z-index: 100;
}
.mobile-nav--hidden {
  display: none;
}
.mobile-nav__link {
  text-decoration: none;
  display: block;
  color: #1b1d23;
  font-size: 2rem; /* 32px */
  line-height: 1.25;
  font-weight: 700;
}
.mobile-nav__link + .mobile-nav__link {
  margin-top: 17px;
}

.btn-link {
  text-decoration: none;
  line-height: 1.5625rem; /* 25px */
  font-weight: 700;
  background-color: #1b1d23;
  color: #ffffff;
  padding: 25px 32px 22px 37px;
  display: inline-block;
}
.btn-link__arrow {
  margin-left: 24px;
  vertical-align: middle;
  width: 24px;
  height: 18px;
}
.btn-link:hover {
  background-color: #60636d;
}
.btn-link:active {
  background-color: #c8ccd8;
}
.section--homepage-team .btn-link {
  padding-left: 35px;
}
.section--homepage-featured .btn-link {
  width: 100%;
  text-align: center;
}

#container {
  position: relative;
}

.side-text {
  position: absolute;
  color: #c8ccd8;
  letter-spacing: 18px;
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  gap: 48px;
}
.side-text::before {
  display: block;
  content: "";
  width: 1px;
  height: 104px;
  background-color: #c8ccd8;
  margin-left: 4px;
}

@media (max-width: 699.5px) {
  .side-text {
    display: none;
  }
}
@media (min-width: 700px) and (max-width: 1305px) {
  .side-text {
    left: 37px;
  }
}
@media (min-width: 1306px) {
  .side-text {
    left: calc((100% - 1110px - 24px) / 4);
  }
}
.main {
  margin-bottom: 132px;
}

.section__heading {
  margin: 0;
  font-size: 3rem; /* 48px */
  line-height: 3.25rem; /* 52px */
  letter-spacing: -1.71px;
}
.section__heading span {
  display: block;
}
.section__decorative-heading, .section__side-img {
  display: none;
}

.section--about-heritage .section__text-content::before, .section__fg-container::before, .section--homepage-welcome::before {
  content: "";
  display: block;
  height: 1px;
  width: 65px;
  background-color: #c8ccd8;
  margin-bottom: 68px;
}

.section--about-heritage p, .section--homepage-welcome p {
  margin-bottom: 0;
}
.section--about-heritage p:first-of-type, .section--homepage-welcome p:first-of-type {
  margin-top: 22px;
}
.section--about-heritage p + p, .section--homepage-welcome p + p {
  margin-top: 1.5rem; /* 24px */
}

@media (max-width: 699.5px) {
  .main {
    margin-top: 96px;
  }
}
@media (min-width: 700px) {
  .main {
    margin: 0 98px 200px;
  }
  .section__heading {
    font-size: 4.5rem; /* 72px */
    line-height: 4rem; /* 64px */
    letter-spacing: -2px;
  }
  .section__decorative-heading {
    display: block;
    font-family: "Spartan";
    font-weight: 700;
    color: #eeeff4;
  }
}
@media (min-width: 700px) and (max-width: 769.5px) {
  .section__decorative-heading {
    letter-spacing: -3px;
    font-size: 102px;
    line-height: 170px;
  }
}
@media (min-width: 770px) and (max-width: 1199.5px) {
  .section__decorative-heading {
    letter-spacing: -3px;
    font-size: 120px;
    line-height: 200px;
  }
}
@media (min-width: 1200px) {
  .main--secondary-page {
    margin-bottom: 160px;
  }
  .section__decorative-heading {
    font-family: "League Spartan", sans-serif;
    letter-spacing: -5px;
    font-size: 250px;
    line-height: 200px;
  }
  .section__side-img {
    display: block;
  }
}
@media (min-width: 1306px) {
  .main {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section--homepage-project {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/image-hero-paramour-375.jpg");
  background-size: cover;
  background-position: center;
  padding: 116px var(--spacing) 110px;
}
.section--homepage-project p {
  margin: 10px 0 84px;
}
.section--homepage-project h2 {
  line-height: 1;
  letter-spacing: -1.2px;
}

.section--homepage-welcome {
  margin: 72px var(--spacing) 113px;
}

.section--homepage-team {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/image-small-team-375.jpg");
  background-size: cover;
  background-position: center;
  padding: 181px var(--spacing) 180px;
  background-size: cover;
  background-position: center;
}
.section--homepage-team .btn-link {
  margin-top: 23px;
}

.section--homepage-featured {
  margin: 73px var(--spacing) 0;
}
.section--homepage-featured .portfolio-projects-container {
  margin: 43px 0 24px;
}

.section--homepage-project p,
.section--homepage-project h2,
.section--homepage-team p,
.section--homepage-team h2 {
  color: #ffffff;
}

@media (min-width: 376px) and (max-width: 768px) {
  .section--homepage-project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/image-hero-paramour-573.jpg");
    background-size: cover;
    background-position: center;
  }
  .section--homepage-team {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/image-small-team-573.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 769px) {
  .section--homepage-project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/image-hero-paramour-1110.jpg");
    background-size: cover;
    background-position: center;
  }
  .section--homepage-team {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/image-small-team-1110.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 700px) {
  .section--homepage-project {
    padding: 186px var(--spacing) 179px;
  }
  .section--homepage-project h2 {
    font-size: 6rem; /* 96px */
    line-height: 5rem; /* 80px */
  }
  .section--homepage-project p {
    margin: 10px 0 41px;
  }
  .section--homepage-welcome::before {
    display: none;
  }
  .section--homepage-welcome p:first-of-type {
    margin-top: 43px;
  }
  .section--homepage-team {
    padding: 167px var(--spacing) 168px;
  }
  .section--homepage-team .btn-link {
    margin-top: 25px;
  }
  .section--homepage-featured {
    margin: 200px 0 0;
    display: grid;
    grid-template: auto auto/1fr auto;
    align-items: center;
  }
  .section--homepage-featured .btn-link {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .section--homepage-featured .portfolio-projects-container {
    grid-column: 1/3;
  }
}
@media (min-width: 700px) and (max-width: 999.5px) {
  .section--homepage-welcome {
    margin: 89px 0 233px;
  }
  .section--homepage-featured .portfolio-projects-container {
    margin: 85px 0 0;
  }
}
@media (min-width: 1000px) {
  .section--homepage-project p {
    max-width: 445px;
    margin-bottom: 0;
  }
  .section--homepage-project .section__content {
    height: 355px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section--homepage-project .btn-link {
    margin: auto 0 0;
  }
  .section--homepage-welcome {
    margin: 108px 0 211px;
  }
  .section--homepage-featured .portfolio-projects-container {
    margin-top: 64px;
  }
}
@media (min-width: 700px) and (max-width: 1199.5px) {
  .section--homepage-welcome .section__decorative-heading {
    margin-bottom: -41px;
  }
}
@media (min-width: 1200px) {
  .section--homepage-welcome .section__main-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: var(--spacing);
    gap: 40px;
  }
  .section--homepage-welcome .section__text-content {
    max-width: 446px;
    margin-bottom: 11px;
  }
  .section--homepage-welcome .section__decorative-heading {
    position: relative;
    top: 113px;
    margin-top: -113px;
  }
}
.section--homepage-project {
  position: relative;
}

.controls {
  position: absolute;
  display: flex;
  bottom: 0;
  left: -80px;
}

.control {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7d828f;
  border: none;
  padding: 0;
  cursor: pointer;
}
.control:hover:not(.control--current) {
  background-color: #eeeff4;
}
.control:active, .control--current {
  background-color: #1b1d23;
  color: #ffffff;
}

.section--about-intro .section__bg-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/about-hero-375.jpg");
  background-size: cover;
  background-position: center;
}

.section__fg-container {
  background-color: #ffffff;
  position: relative;
  padding: 65px 0 0 var(--spacing);
  margin-right: var(--spacing);
}
.section__fg-container p {
  margin: 21px 0 0;
}

@media (max-width: 699.5px) {
  .section--secondary-page-intro {
    margin-bottom: -45px;
  }
  .section__bg-container {
    height: 240px;
  }
  .section__fg-container {
    top: -45px;
  }
  .section__fg-container::before {
    display: none;
  }
}
@media (min-width: 700px) {
  .section--secondary-page-intro {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 200px;
  }
  .section__bg-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .section__fg-container {
    position: relative;
  }
  .section__fg-container p {
    margin-top: 43px;
    margin-bottom: 2px;
  }
  .section__fg-container .section__decorative-heading {
    position: absolute;
    right: 0;
    top: -85px;
  }
}
@media (min-width: 700px) and (max-width: 999.5px) {
  .section__bg-container {
    width: 100%;
  }
  .section--about-intro .section__bg-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/about-hero-573.jpg");
    background-size: cover;
    background-position: center;
  }
  .section__fg-container {
    margin: 289px 0 0 58px;
    padding: 88px 0 0 59px;
    max-width: 514px;
  }
  .section__fg-container::before {
    margin-bottom: 73px;
  }
}
@media (min-width: 1000px) {
  .section__bg-container {
    width: 57%;
  }
  .section--about-intro .section__bg-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/about-hero-635.jpg");
    background-size: cover;
    background-position: center;
  }
  .section__fg-container {
    max-width: 628px;
    margin: 217px 0 0 0;
    padding: 160px 0 0 182px;
  }
  .section__fg-container::before {
    margin-bottom: 57px;
  }
  .section__fg-container p {
    margin-top: 59px;
  }
}
.section--about-heritage {
  margin: 76px var(--spacing) 112px;
}
.section--about-leaders {
  margin: 0 var(--spacing) 0;
  padding-bottom: 47px;
}

.team-members-container {
  display: flex;
  flex-direction: column;
  row-gap: 79px;
  margin-top: 55px;
}

.team-member__image-container {
  position: relative;
  margin-bottom: 15px;
}
.team-member__image {
  width: 100%;
  display: block;
}
.team-member__socials {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  display: none;
}
.team-member__social-link {
  text-decoration: none;
}
.team-member__social-link img {
  vertical-align: middle;
}
.team-member__social-link + .team-member__social-link {
  margin-left: 32px;
}
.team-member__name, .team-member__position {
  margin: 0;
  color: #1b1d23;
}
.team-member__name {
  font-size: 2rem; /* 32px */
  line-height: 1.25;
}
.team-member__position {
  opacity: 75%;
}

.team-member__image-container:hover .team-member__image {
  filter: brightness(0.5);
}
.team-member__image-container:hover .team-member__socials {
  display: block;
}

@media (min-width: 700px) {
  .section--about-heritage {
    margin: 0;
  }
  .section--about-heritage::before {
    margin-bottom: 49px;
  }
  .section--about-heritage p:first-of-type {
    margin-top: 67px;
  }
  .section--about-leaders {
    margin: 207px 0 0;
    padding-bottom: 39px;
  }
  .team-members-container {
    flex-flow: row wrap;
  }
}
@media (min-width: 700px) and (max-width: 999.5px) {
  .team-members-container {
    margin-top: 47px;
    column-gap: 12px;
    row-gap: 103px;
  }
  .team-member {
    width: calc(50% - 6px);
  }
}
@media (min-width: 1000px) {
  .section--about-heritage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .section--about-heritage::before {
    margin-bottom: 82px;
  }
  .section--about-heritage p:first-of-type {
    margin-top: 59px;
  }
  .section--about-leaders {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    margin-top: 200px;
    padding: 0;
  }
  .team-members-container {
    margin-top: 0;
    max-width: 730px;
    column-gap: 30px;
    row-gap: 63px;
  }
  .team-member {
    width: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .section--about-heritage .section__text-content {
    width: 40%;
  }
  .section--about-heritage .section__side-img {
    width: 48%;
  }
}
.portfolio-project {
  height: 240px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  padding: 0 24px 23px;
}
.portfolio-project__heading, .portfolio-project__text {
  margin: 0;
}
.portfolio-project__heading {
  font-size: 2rem; /* 32px */
  line-height: 1.25;
}
.portfolio-project__text {
  opacity: 75%;
}
.portfolio-project__number {
  display: none;
}

@media (min-width: 700px) {
  .portfolio-project {
    position: relative;
  }
  .portfolio-project__number {
    display: block;
    color: #ffffff;
    opacity: 50%;
    font-size: 250px;
    line-height: 200px;
    font-weight: 700;
    letter-spacing: -5px;
    position: absolute;
  }
}
@media (min-width: 700px) and (max-width: 999.5px) {
  .portfolio-project__number {
    top: 29px;
    right: 16px;
  }
}
@media (min-width: 1000px) {
  .portfolio-project {
    height: 560px;
    flex: 1 1 0;
    padding: 0 40px 39px;
  }
  .portfolio-project__number {
    top: 45px;
    right: -16px;
  }
}
.portfolio-project {
  background-size: cover;
  background-position: center;
}
.portfolio-project--del-sol {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/image-del-sol-450.jpg");
}
.portfolio-project--228B {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/image-228b-450.jpg");
}
.portfolio-project--prototype {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/image-prototype-450.jpg");
}

.portfolio-projects-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

@media (min-width: 500px) and (max-width: 799.5px) {
  .portfolio-project--del-sol {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/image-del-sol-650.jpg");
  }
  .portfolio-project--228B {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/image-228b-650.jpg");
  }
  .portfolio-project--prototype {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/image-prototype-650.jpg");
  }
}
@media (min-width: 800px) {
  .portfolio-project--del-sol {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/image-del-sol-850.jpg");
    background-position-x: right;
  }
  .portfolio-project--228B {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/image-228b-850.jpg");
  }
  .portfolio-project--prototype {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/image-prototype-850.jpg");
  }
}
@media (min-width: 1000px) {
  .portfolio-projects-container {
    flex-direction: row;
    column-gap: 30px;
  }
}

/*# sourceMappingURL=index.css.map */
